<img src="https://habrastorage.org/webt/ia/m9/zk/iam9zkyzqebnf_okxipihkgjwnw.jpeg" />
    
**<center>[mlcourse.ai](https://mlcourse.ai) – Open Machine Learning Course** </center><br>
Authors: Arina Lopukhova (@erynn), and [Yury Kashnitsky](https://yorko.github.io) (@yorko). Edited by Vadim Shestopalov (@vchulski). [mlcourse.ai](https://mlcourse.ai) is powered by [OpenDataScience (ods.ai)](https://ods.ai/) © 2017—2021

# <center>Assignment #1. Task </center> <a class="tocSkip">
## <center>Exploratory Data Analysis (EDA) of Olympic games with Pandas </center> <a class="tocSkip">
    
<img src="https://habrastorage.org/webt/my/70/d9/my70d97xhwfj8krp2q2qmn_smww.png" width=50%>

There are ten questions about 120 years of Olympic history in this assignment.

### Your task is to:
 1. write code and perform computations in the cells below;
 2. choose answers in the [webform](https://docs.google.com/forms/d/1SJcNJxnY5Wwb_sDSxmb-FyghraeOt-ZmQMA0XzOLu4I).
 
*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel __#mlcourse_ai_eng__, pinned thread __#a1_bonus__. If you are sure that something is not 100% correct, please leave your feedback via the mentioned webform ↑*

-----

In [4]:
from pathlib import Path

import pandas as pd

In [5]:
PATH_TO_DATA = Path("../../_static/data/assignment1")

In [6]:
df = pd.read_csv(PATH_TO_DATA / "athlete_events.csv.zip", index_col="ID")
df.head(2)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN

In [17]:
df.shape

(271116, 14)

 The dataset has the following features:

- __ID__ – Unique number for each athlete
- __Name__ – Athlete's name
- __Sex__ – M or F
- __Age__ – Integer
- __Height__ – In centimeters
- __Weight__ – In kilograms
- __Team__ – Team name
- __NOC__ – National Olympic Committee 3-letter code
- __Games__ – Year and season
- __Year__ – Integer
- __Season__ – Summer or Winter
- __City__ – Host city
- __Sport__ – Sport
- __Event__ – Event
- __Medal__ – Gold, Silver, Bronze, or NA

**<font color='red'>Question 1.</font> How old were the youngest male and female participants of the 1992 Olympics?**

- 16 and 15
- 14 and 13 
- 13 and 11
- 11 and 12

In [10]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit)
df[(df['Sex']=='M') & (df['Year']==1992)]['Age'].min()

11.0

In [11]:
df[(df['Sex']=='F') & (df['Year']==1992)]['Age'].min()

12.0

**<font color='red'>Question 2.</font> What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.**

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions as well.

- 0.2
- 1.5 
- 2.5
- 7.7

In [22]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit)
# solution code
q = '(Year == 2012) & (Sex == "M")'
# dfquery(q) equals to data[(dfYear == 2012) & (dfSex == 'M')]
sportsmen_count = len(df.query(q).drop_duplicates(subset="Name"))

basketball_count = len(
    df.query(q).query('Sport == "Basketball"').drop_duplicates(subset="Name")
)

print("%.1f" % (basketball_count / sportsmen_count * 100))

2.5

**<font color='red'>Question 3.</font> What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.**

- 171.8 and 6.5
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [26]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit)
q = '(Year == 2000) & (Sex == "F") & (Sport == "Tennis")'
print(df.query(q)['Height'].mean())
print(df.query(q)['Height'].std())

171.792
6.4586725890776675

**<font color='red'>Question 4.</font> Find the heaviest athlete among 2006 Olympics participants. What sport did he or she do?**

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [36]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit)
df.query('Year==2006').sort_values(by='Weight', ascending=False)[:1]['Sport']

ID
4476    Skeleton
Name: Sport, dtype: object

**<font color='red'>Question 5.</font> How many times did John Aalberg participate in the Olympics held in different years?**

- 0
- 1 
- 2
- 3

In [42]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit)
df[df['Name']=='John Aalberg'].Year.nunique()

2

**<font color='red'>Question 6.</font> How many gold medals in tennis did the Switzerland team win at the 2008 Olympics?**

- 0
- 1 
- 2
- 3

In [44]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit
q = '(Year==2008) & (Team=="Switzerland") & (Medal=="Gold")'
df.query(q)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
17857,Fabian Cancellara,M,27.0,186.0,81.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Cycling,Cycling Men's Individual Time Trial,Gold
34396,Roger Federer,M,26.0,185.0,80.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold
129042,Stanislas Wawrinka,M,23.0,183.0,79.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold

**<font color='red'>Question 7.</font>  Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in the _Medal_ column.**

- Yes
- No

In [48]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit)
sq = '(Year==2016) & (Team=="Spain")'
print(df.query(sq).dropna().shape)
iq = '(Year==2016) & (Team=="Italy")'
print(df.query(iq).dropna().shape)

(43, 14)
(70, 14)

**<font color='red'>Question 8.</font> What are the least and most common age groups among the participants of the 2008 Olympics?**
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [49]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit)
participants_2008 = df[df.Year == 2008].drop_duplicates(subset="Name")

print("[15, 25): ", len(participants_2008.query("(Age >= 15) & (Age < 25)")))

print("[25, 35): ", len(participants_2008.query("(Age >= 25) & (Age < 35)")))

print("[35, 45): ", len(participants_2008.query("(Age >= 35) & (Age < 45)")))

print("[45, 55]: ", len(participants_2008.query("(Age >= 45) & (Age <= 55)")))

[15, 25):  4776
[25, 35):  5373
[35, 45):  630
[45, 55]:  78

**<font color='red'>Question 9.</font> Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?**

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [52]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit)
pd.crosstab(df.City, df.Season).loc[["Atlanta", "Squaw Valley"]]

Season        Summer  Winter
City
Atlanta        13780       0
Squaw Valley       0    1116

**<font color='red'>Question 10.</font> What is the absolute difference between the number of unique sports at the 1994 Olympics and 2002 Olympics?**

- 3
- 10
- 15 
- 27

In [53]:
# You code here (read-only in a JupyterBook, pls run jupyter-notebook to edit)
abs(df[df.Year == 1994].Sport.nunique() - df[df.Year == 2002].Sport.nunique())

3